:root {
    font-size: .9vw;
    box-sizing: border-box;
    --search-field-width: 8em;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
}

.account-panel-container {
    background-color: #202020;
    padding: 1em;
    color: white;
    text-align: right;

}

.account-panel {
    width: 88.5%;
}

.mobile-menu {
    display: none;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.upper-part-menu {
    display: flex;
    align-self: center;
    flex-direction: row;
    width: 77%;
    padding: 4em 0 3em 0;
}

.logo {
    width: 64%;
}

.info-box-div {
    display: flex;
}

.info-div {
    display: flex;
    padding-right: 3em;
    margin-bottom: 1em;
}

.info-text {
    font-weight: bold;
    padding-top: .3em;
    font-size: 1em;
    line-height: 1.9em;
}

.info-text > a {
    display: block;
}

.box-div {
    padding-left: 4em;
    transform: translateY(-.5em);
}

.box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dedede;
}

.box > p {
    margin-top: .7em;
    margin-left: .6em;
    margin-right: 7em;
}

.dropdown {
    height: 4px;
    width: 7px;
    margin-top: 1em;
}

.menu-uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.products {
    padding-top: 1em;
    max-width: 16em;
    max-height: 2.1em;
    overflow: hidden;
}

.products-text {
    font-size: .95em;
}

.box-image {
    padding-bottom: .5em;
    width: 2.8em;
    height: 3em;
}

.menu-nav-container {
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
    border: 1px solid #dedede;
    border-right: none;
}

.categories-nav {
    text-align: center;
    font-size: .9em;
    color: #494949;
    width: 92%;
    font-weight: 900;
}

.menu-list > li {
    display: inline;
    margin-right: 5em;
}

.nested-list-nav > li:hover {
    background-image: radial-gradient(
            #7aff47,
            #22a742
    );
}

.special-li {
    /*display: inline;*/
}

.more:hover {
    cursor: pointer;
}

.more::after {
    content: "";
    position: relative;
    left: 1em;
    top: .7em;
    border: 0.3em solid;
    border-color: black transparent transparent;
}

.nested-list-nav {
    list-style: none;
    position: absolute;
    top: 22em;
    background-color: white;
    z-index: 10;
    max-height: 31em;
    overflow: auto;
}

.hide {
    display: none;
}

.nested-list-nav > li {
    padding: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.no-visible {
    visibility: hidden;
}

.part-click-event {
    width: 20%;
    transform: translateY(-.1em);
    padding: .35em;
}

.search-img {
    height: 1.9rem;
    margin-left: 1rem;
}

.search-field {
    background-color: #e7e7e7;
    border: 1px solid #a5c146;
    font-size: 1rem;
    height: 2rem;
    padding-left: 1em;
    opacity: 0;
    transition: opacity .5s linear;
    width: var(--search-field-width);
}

.show-search-field {
    opacity: 1;
    visibility: visible;
}

.search-field::placeholder {
    color: #424242;
}

.absolute-div {
    position: absolute;
    display: flex;
    right: 15em;
}

.search-img:hover {
    cursor: pointer;
}

.space-div {
    padding: .4em;
}

.space-div-smaller {
    padding: .3em;
}

.banner {
    width: 100%;
}

.banner-effect {
    filter: grayscale(55%);
}

.border-bottom {
    border-bottom: 1px solid #dedede;
}

.main-container {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.aside-main-div {
    width: 80%;
    display: flex;
}

.categories-main {
    display: flex;
    flex-direction: column;
    width: 21.5%;
}

.main-uppercase {
    text-transform: uppercase;
    font-size: 1em;
}

.main-header {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: .3em;
}

.green {
    color: #a5c146;
}

.main {
    width: 74.3%;
    margin-left: 2em;
    padding-bottom: 4em;
}

ul.list {
    list-style-position: inside;
    line-height: 1.5em;
    list-style: none;
    padding-top: .5em;
    text-indent: -.7em;
}

ul.list > li::before {
    content: "• ";
    color: #a5c146;
}

ul:first-child {
    margin-top: .7em;
}

ul.nested-list {
    margin-left: .7em;
    list-style-position: inside;
    list-style: none;
}

ul.nested-list > li::before {
    content: "- ";
    color: #a5c146;
}

.upper-ad-aside {
    margin-top: 1em;
    padding: .8em 0 .8em .8em;
    border: 1px solid #dedede;
}

.lower-ads-aside {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.left-ad-low-aside {
    width: 10.3em;
    height: 6.8em;
}

.right-ad-low-aside {
    width: 6.8em;
    height: 6.8em;
}

.new-oferts > header {
    font-weight: 500;
}

.show-all-main {
    text-transform: uppercase;
    color: #afafaf;
    font-size: .5em;
    margin-left: 48em;
    padding-bottom: .5em;
    cursor: pointer;
}

.arrow {
    margin-left: .8em;
    cursor: pointer;
    height: .6em;
    width: .35em;
    outline: none;
}

.content {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}

.image-div {
    padding: 1em 1.5em 1em 1.5em;
    align-self: center;
}

.image-div > img {
    width: 15.5em;
    height: 14.6em;
}

.text-div {
    text-transform: uppercase;
    font-size: .9em;
    line-height: 1.4em;
}

.text-div > p {
    height: 2.8em;
    width: 24em;
    overflow: hidden;
}

.product {
    display: flex;
    flex-direction: column;
}

.text-div > img {
    padding: .5em 0;
}

.cost-div {
    border-top: 1px solid #dedede;
    padding-top: 1em;
}

.cost-div > p {
    display: inline;
    margin-right: 11em;
    font-weight: bold;
    color: #afafaf;
    font-size: 1em;
}

.price-text {
    font-size: 1.3em;
}

.no-transform {
    text-transform: none;
}

.uppercase {
    text-transform: uppercase;
}

.center-ad-main {
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em 0 1em 0;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.center-ad-main > img {
    width: 100%;
}

.recommended-products > header {
    font-weight: 500;
}

.footer-container {
    display: flex;
    justify-content: center;
    border-top: 1px solid #dedede;
    padding-top: 3em;
}

.footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other {
    display: flex;
    flex-direction: row;
    color: #5d5d5d;
    width: 100%;
}

.left-part-footer {
    line-height: 2em;
    width: 21.5%;
}

.logo-footer {
    padding-bottom: 2em;
    width: 13.4em;
    height: 4.4em;
}

.inline {
    display: inline;
}

.apteon {
    display: inline-block;
    transform: translateY(.3em);
    padding-left: .3em;
    width: 6.6em;
    height: 1.5em;
}

.ad-footer {
    padding: 3em 0 2em 0;
}

.ad-footer > img {
    width: 28em;
    height: 3.8em;
}

.right-part-footer {
    padding-left: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 76.5%;
    grid-column-gap: 1em;
    word-wrap: break-word;
}

.newsletter > p > i {
    letter-spacing: -1px;
}

.newsletter > p {
    width: 73%;
}

.border-top {
    border-top: 1px solid #dedede;
    margin-top: .5em;
    padding-top: .5em;
}

.input-footer {
    margin-top: 1em;
    width: 20rem;
    height: 2.5rem;
    font-size: 1em;
}

.button-footer {
    position: relative;
    left: 14.8rem;
    margin-top: 1rem;
    padding: .2em .2em;
    background-color: #a5c146;
    color: white;
    width: 5rem;
    height: 3rem;
    border: none;
    text-align: center;
    font-size: 1em;
}

.button-footer:hover {
    cursor: pointer;
}

.logo > img {
    width: 15.8em;
    height: 3em;
}

.tel {
    font-size: .95em;
}

.upper-ad-aside > img {
    width: 17em;
    height: 27em;
}

.info-div > div > img {
    width: 3.5em;
    height: 3.8em;
}

.newsletter > form {
    font-size: 1em;
}

.hide-mobile-menu {
    display: none;
}

.mobile-menu-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /*color: white;*/
    color: #a5c146;
    position: fixed;
    top: 3.5em;
    right: 0;
    z-index: 100;
    text-align: center;
}

.mobile-menu-choose {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-choose  > *{
    padding: 1em;
}

::placeholder {
    color: #afafaf;
    padding-left: 1em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.width-11em {
    width: 11em;
}

.width-10em {
    width: 10em;
}

.width-8em {
    width: 8em;
}

@media all and (max-width: 1024px) {
    :root {
        font-size: 1.8vw;
    }

    .account-panel-container {
        padding: 1em;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }

    .nested-list-nav {
        max-height: 21em;
        top: 23em;
    }

    .account-panel {
        width: 89.5%;
    }

    .menu-container {
        margin-top: 4.6em;
    }

    .mobile-menu-container {
        top: 4.7em;

    }

    .mobile-menu {
        display: none;
        font-size: 2em;
        text-align: right;
    }

    .absolute-div {
        right: 3em;
    }

    .logo {
        width: 40%;
        padding-left: 1.5em;
    }

    .main {
        width: 100%;
        margin-left: 0;
    }

    .show-all-main {
        margin-left: 13.5em;
        font-size: .6em;
    }

    .image-div > img {
        width: 13.5em;
        height: 12.6em;
    }

    .cost-div > p {
        margin-right: 8.5em;
    }

    .content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1.5em;
    }

    .upper-ad-aside > img {
        width: 10.5em;
        height: 15em;
    }

    .lower-ads-aside {
        flex-direction: column;
        align-items: center;
    }

    .right-ad-low-aside {
        width: 9.8em;
        height: 8.8em;
        margin-top: 1em;
    }

    .footer-container {
        font-size: 1em;
    }

    .footer {
        width: 90%;
        height: 35em;
    }

    .input-footer {
        margin-top: 1em;
        width: 15rem;
        height: 2.5rem;
        font-size: 1em;
    }

    .button-footer {
        left: 9.8em;
        position: static;
    }

    .right-part-footer {
        grid-row-gap: 2.5em;
        grid-template-columns: 1fr 1fr;
        /*grid-column-gap: 4.2em;*/
        grid-column-gap: 1.2em;
        padding-left: 0;
        width: 100%;
    }

    .about-us,
    .security {
        padding-left: 2.5em;
    }

    .left-part-footer {
        display: none;
    }

    .categories-main {
        display: none;
    }

    .info-div {
        padding: 0;
        margin: 0;
    }

    .box-div {
        padding-left: 3em;
    }

    .upper-part-menu {
        width: 95%;
    }

    .button-footer {
        height: 2.5rem;
    }
}

@media all and (max-width: 767px) {

    :root {
        font-size: 5vw;
    }

    .account-panel-text {
        display: none;
    }

    .mobile-menu {
        display: inline;
    }

    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .info-box-div {
        display: none;
    }

    .menu-nav-container {
        display: none;
    }

    .text-div > p {
        width: 17em;
    }

    .show-all-main {
        margin-left: 0;
        padding-top: .9em;
        padding-right: 4em;
    }

    .arrow {
        margin-top: .5em;
    }

    .main-header {
        font-size: 1.4em;
    }

    .cost-div {
        font-size: .8em;
    }

    .account-panel-container {
        width: 100%;
        padding: .5em;
    }

    .right-part-footer {
        /*grid-row-gap: 2.5em;*/
        grid-template-columns: 1fr;
        /*grid-column-gap: 1.2em;*/
        /*padding-left: 0;*/
        width: 100%;
        /*justify-items: center;*/
    }

    .right-part-footer > * {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .other {
        /*display: none;*/
    }

    .footer {
        height: 3rem;
    }

    .ad-footer > img {
        width: 19em;
        height: 2.8em;
        display: none;
    }

    .mobile-menu-container {
        width: 100%;
        right: 0;
        top: 3.7em;
        /*display: block;*/
    }

    .footer-container {
        padding-top: .5em;
    }

    .newsletter > form {
        padding-bottom: 1em;
    }

    .newsletter {
        text-align: center;
    }

    .about-us,
    .security {
        padding-left: 0;
    }
}









